<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="@Url.Content("~/StylesCSS/Layout/LayoutCSS.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
</head>
<body>

    <div id="main-container">

        <div id="left-menu-container">

            <div id="logo-box"></div>

            <nav id="left-menu-navigation">
                <ul>
                    <li>MENU</li>
                </ul>
            </nav>

            <div id="main-menu-box">
                <ul id="mmb-ul-element">
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="~/Wall/Index">OGŁOSZENIA</a></li>
                        <li><a href="~/Board/Index">TABLICA</a></li>
                        <li><a href="#">LISTA</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="~/Account/MyAccount">MOJE OPERACJE</a></li>
                        <li><a href="/Account/Logout">WYLOGUJ SIĘ</a></li>
                    }
                </ul>

            </div>

            <div id="back-to-content-box">
                <i id="back-to-content-btn" onclick="" class="far fa-arrow-alt-circle-left"></i>
            </div>
        </div>

        <div id="page-content">

            <div id="content-box">
                <div id="mobile-top-tools-bar">
                    @RenderSection("mobile_top_tools_bar", false)
                </div>

                <div id="open-left-menu-i" onclick=""><i class="fas fa-bars"></i></div>

                <div id="top-tools-bar">
                    @RenderSection("top_tools_bar", false)
                </div>

                <div id="render-body-box">
                    @RenderBody();
                </div>
            </div>

        </div>

    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/layout")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/modernizr")

</body>
</html>
