<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="@Url.Content("~/StylesCSS/Layout/LayoutCSS.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>
<body>

    <div id="main-container">

        <div id="left-menu-container">

            <div id="logo-box"></div>

            <nav id="left-menu-navigation">
                <ul>
                    <li>MENU</li>
                </ul>
            </nav>

            <div id="main-menu-box">
                <ul id="mmb-ul-element">
                    <li><a href="#">OGŁOSZENIA</a></li>
                    <li><a href="~/Board/Index">TABLICA</a></li>
                    <li><a href="#">LISTA</a></li>
                    <li><a href="#"></a></li>
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="~/Account/MyAccount">MOJE KONTO</a></li>
                        <li><a href="/Account/Logout">WYLOGUJ SIĘ</a></li>
                    }
                    @if (!Request.IsAuthenticated)
                    {
                        <li><a href="~/Account/Login">ZALOGUJ SIĘ</a></li>
                    }
                </ul>

            </div>

            <div id="back-to-content-box">
                <i id="back-to-content-btn" onclick="" class="far fa-arrow-alt-circle-left"></i>
            </div>
        </div>

        <div id="page-content">
            <div id="open-close-left-menu" onmouseover=""></div>

            <div id="content-box">
                <div id="top-tools-bar">
                    @RenderSection("top_tools_bar", false)
                </div>

                <div id="render-body-box">
                @RenderBody();
                </div>
            </div>
        </div>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/layout")
    @RenderSection("scripts", required: false)
</body>
</html>
