@model IEnumerable<car_rental_notes.Models.ViewModels.Board.BoardVM>
@if (Request.IsAuthenticated)
{
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link href="~/StylesCSS/Board/IndexCSS.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/board_index")

    {
        ViewBag.Title = "Tablica";
        Layout = "~/Views/Shared/_Layout.cshtml";

    }
    <link rel="shortcut icon" href="">

    <body>
        <div id="board-top-bar"></div>
        <div id="mobile-board-index-top-tools-bar">

            @section mobile_top_tools_bar{
                <div id="mobile-top-tools-box-1" class="mobile-top same-width"> <span>@TempData["Counter"]</span> </div>
                <div id="mobile-top-tools-box-2" class="mobile-top same-width"> <a class="fas fa-angle-left"></a> </div>
                <div id="mobile-top-tools-box-3" class="mobile-top"> <span>@TempData["SelectedDate"]</span> </div>
                <div id="mobile-top-tools-box-4" class="mobile-top same-width"> <a class="fas fa-angle-right"></a> </div>
                @if (User.IsInRole("Administrator"))
                {
                    <div id="mobile-top-tools-box-5" class="mobile-top same-width"> <i class="fas fa-angle-double-down" id="mobile-btn-addnewnote"></i> </div>
                }
                else if (User.IsInRole("Kierowca"))
                {
                    <div id="mobile-top-tools-box-5" class="mobile-top same-width">  </div>
                }
            }

        </div>
        <div id="board-index-top-tools-bar">
            @section top_tools_bar{
                <div id="top-tools-box-1"> <span>@TempData["Counter"]</span> </div>
                <div id="top-tools-box-2"> <a class="fas fa-angle-left"></a> </div>
                <div id="top-tools-box-3"> <span>@TempData["SelectedDate"]</span> </div>
                <div id="top-tools-box-4"> <a class="fas fa-angle-right"></a> </div>
                @if (User.IsInRole("Administrator"))
                {
                    <div id="top-tools-box-5"> <i class="fas fa-angle-double-down" id="btn-addnewnote"></i> </div>
                }
                else if (User.IsInRole("Kierowca"))
                {
                    <div id="top-tools-box-5">  </div>
                }
            }
        </div>
        <div id="add-new-note-content">
            @Html.Action("AddNewNote", "Board", new { area = "" })
        </div>

        <ul id="table">
            @foreach (var item in Model)
            {
                if (item.Data_Operacji.ToString("dd/MM/yyyy") == @TempData["SelectedDate"].ToString())
                {
                    <li onload="">
                        <div class="single-note-box" id="@item.Board_Id" accesskey="9" onload="single-note-transform()">
                            <div class="front-note-side max-width max-height">
                                <div class="front-box-1 max-width">wykonuje: @item.Wykonawca</div>
                                <div class="front-box-2 max-width">@item.Rodzaj_Operacji</div>
                                <div class="front-box-3 max-width">@item.Miejsce_Operacji</div>
                                <div class="front-box-4 max-width">klasa @item.Klasa_Pojazdu</div>
                                <div class="front-box-5 max-width">@item.Godzina_Operacji.ToString("hh':'mm")</div>
                            </div>
                            <div class="back-note-side max-width max-height">
                                <div class="back-side-menu max-width" onmouseover="show_back_menu(this)" onmouseout="hide_back_menu(this)">
                                    <div class="add-btn-box back-btn-box max-height"><i class="fas fa-plus add-option-img"></i></div>
                                    <div class="edit-btn-box back-btn-box max-height"></div>
                                    <div class="space-for-new-btn"></div>
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        <div class="delete-btn-box back-btn-box max-height"><a class="fas fa-times delete-option-img delete" href="/Board/DeleteNote/@item.Board_Id"></a></div>
                                    }
                                    else if (User.IsInRole("Administrator"))
                                    {
                                        <div class="delete-btn-box back-btn-box max-height"></div>
                                    }
                                </div>
                                <div class="back-side-content max-width max-height">
                                    <div class="back-box-1 max-width">@item.Zlecajacy</div>
                                    <div class="back-box-2 max-width">@item.Nazwa_Klienta</div>
                                    <div class="back-box-3 max-width">@item.Telefon</div>
                                    <div class="back-box-4 max-width"> @item.Samochod</div>
                                    <div class="back-box-5 max-width"> @item.Uwagi</div>
                                </div>
                            </div>
                        </div>
                        <script>set_note_layout('@item.Rodzaj_Operacji',@item.Board_Id);</script>
                    </li>
                }
            }
            <li></li>
        </ul>
        @Scripts.Render("~/bundles/board_index")
    </body>
}
else
{
    <script type="text/javascript">
         $(function(){ window.location.href = "@Url.Action("Login","Account")";});
    </script>
}