
@model IEnumerable<car_rental_notes.Models.ViewModels.Wall.AnnouncementsVM>

<link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap&subset=latin-ext" rel="stylesheet">
<link href="~/StylesCSS/Wall/AnnouncementsCSS.css" rel="stylesheet" />
@Scripts.Render("~/bundles/wall")

@if (Request.IsAuthenticated)
{
    {
        ViewBag.Title = "Ogłoszenia";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @section mobile_top_tools_bar{
        <div id="mobile-ann-top-tools-box-1" class="top-mobile"> </div>
        <div id="mobile-ann-top-tools-box-2" class="top-mobile"><span class="mobile-be-center">OGŁOSZENIA</span></div>
        @if (User.IsInRole("Administrator"))
        {
            <div id="mobile-ann-top-tools-box-3" class="top-mobile"><i class="fas fa-plus be-center" id="mobile-add-new-ann-btn"></i></div>
        }
        else if (User.IsInRole("Kierowca"))
        {
            <div id="mobile-ann-top-tools-box-3" class="top-mobile"></div>
        }
    }

    @section top_tools_bar{
        <div id="ann-top-tools-box-1"></div>
        <div id="ann-top-tools-box-2"><span class="be-center">OGŁOSZENIA</span></div>
        @if (User.IsInRole("Administrator"))
        {
            <div id="ann-top-tools-box-3"><i class="fas fa-plus be-center" id="add-new-ann-btn"></i></div>
        }
        else if (User.IsInRole("Kierowca"))
        {
            <div id="ann-top-tools-box-3"></div>
        }
    }

    <div id="anns">
        <ul id="ann-table">
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <div class="ann-daily-info"><strong>Cześć @User.Identity.Name! @TempData["Today"]@TempData["YourOp"]</strong></div>
                </li>
            }

            <li>
                <div id="add-new-ann">
                    @Html.Action("AddAnnouncement", "Wall", new { area = "" })
                </div>
            </li>

            @foreach (var item in Model.Reverse())
            {
                <li>
                    <div class="ann-main-box">
                        <div class="ann-subject">
                            <b>@item.Temat</b>
                            @if (User.IsInRole("Administrator"))
                            {
                                <a href="/Wall/DeleteAnnouncement/@item.Announcement_Id">[ usuń ogłoszenie ]</a>
                            }
                        </div>
                        <div class="ann-content">@item.Tresc</div>
                        <div class="ann-author">utworzono <i>@item.Data.Date.ToString("dd.MM.yyyy")</i> przez <i>@item.Autor</i></div>
                    </div>
                </li>
            }
        </ul>
    </div>
}
else
{
    <script type="text/javascript">
    $(function(){ window.location.href = "@Url.Action("Login", "Account")"; });
    </script>
}