@model IEnumerable<car_rental_notes.Models.ViewModels.Board.BoardVM>
@if (Request.IsAuthenticated)
{

    <link href="~/StylesCSS/Board/IndexCSS.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/board_index")

    <ul id="table" style="width:100%;">

        @foreach (var item in Model)
        {
            <li>
                <div class="single-note-box" id="@item.Board_Id" accesskey="9">
                    <div class="front-note-side">

                        <div class="front-box-2">@item.Rodzaj_Operacji</div>

                        <div class="front-box-3">@item.Miejsce_Operacji</div>

                        <div class="front-box-4">klasa @item.Klasa_Pojazdu</div>

                        <div class="front-box-5">@item.Godzina_Operacji.ToString("hh':'mm")</div>

                    </div>
                    <div class="back-note-side">
                        <div class="back-side-content">

                            <div class="back-box-1">@item.Zlecajacy</div>

                            <div class="back-box-2">@item.Nazwa_Klienta</div>

                            <div class="back-box-3">@item.Telefon</div>

                            <div class="back-box-4"> @item.Samochod</div>

                            <div class="back-box-5"> @item.Uwagi</div>

                        </div>
                    </div>
                </div>
                <script>
                    set_note_layout('@item.Rodzaj_Operacji',@item.Board_Id);
                </script>
            </li>
        }
    </ul>
}
else
{
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
         $(function(){ window.location.href = "@Url.Action("Login","Account")";});
    </script>
}


